

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.containerHalf{
    width: 50%;
    height: 100%; 
    box-sizing: border-box;
}

.welcome{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.welcome img{
    width: 300px;
}

.welcomeCentered{
   align-self: center; 
}

.welcomeTitle{
    font-family: 'Yeon Sung', cursive;
    font-size: 60px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.nameFieldWrapper{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.nameField{
    width: 40%;
    text-align: right;
    padding: 20px;
    font-family: 'Yeon Sung', cursive;
}

.voleContainer{
    width: 100%;
    height: 100vh;
    background-image: url(img/firebg.jpg);
    background-size:contain;
    display: flex;
    justify-content: space-around; 
}


.voleImg{
    width: auto;
    height: auto;
    align-self: center;
}

.voleImg img{
    width: 200px;
}

.weaponListWrapper{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
}

.weaponItem{
    width: 160px;
    height: 160px;
    border: 2px solid gray;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weaponItemImg{
    width: 100%;
    display: flex;
    justify-content: center;
}

.weaponItemInactive{
    filter: blur(4px);
}

.axeCursor{
    cursor: url(img/axeCursor.png) 2 2, pointer !important;
}

.axeDeoCursor{
    cursor: url(img/axeDeoCursor.png) 2 2, pointer !important;
}

.bowCursor{
    cursor: url(img/bowCursor.png) 2 2, pointer !important;
}


.shakyCursor{
    cursor: none !important;
}

/*
.voleImg img:hover {
    animation: shake 0.4s; 
}
*/

.voleImgShake img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.4s; 
    /* When the animation is finished, start again */
/*    animation-iteration-count: infinite; */
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-2deg); }
}

.matrix{
    background-color: black;
    font-family: 'Yeon Sung', cursive;
    font-size: 40px;
    color: green;
    text-shadow: 2px 2px 4px #000000;   
}

.matrixCode{
    background-color: black;
    font-size: 12px;
    color: lightgreen; 
    margin-left: 0px auto;
}

.matrixForm{
    width: 200px;
    height: 200px;
}


/******************************************************************************************************************************/
/*** NEW ***/

html, body{
/*    cursor: url(smiley.png) 2 2, pointer;*/
    margin: 0px auto;
}

.root .rootJSX{
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

p{
    margin: 0px auto;
    padding: 5px;
    line-height: 0.5;
    color: white;
}

.game_Container{
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    background-image: url(img/fireblackbg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: 0px 0px;
/*        cursor: url(img/item1.png) 2 2, pointer;*/
}

.game_target{
    margin: 0px auto;
    width: 50%; 
/*    height: 100vh;*/
/*    background-size: contain;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

    .game_target_message{
        width: 100%;
        height: 500px;
        align-self: center; 
        color: gray;
        
/*
        background-image: url(img/speechbubble.png);
        background-repeat: no-repeat;
        border: 1px solid red;
        background-position: 7px 10px;
        background-size: 95% 100%; 
        padding-left: 100px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 30px;
*/
/*        margin: 40px;*/
        font-family: monospace;
        padding-left: 40px;
        padding-right: 40px;
    
    }
    .game_target_message p{
        font-weight: 600;
    }

    .game_target_img{
        width: 100%;
        height: auto;
/*        height: auto;*/
/*        align-self: center;*/
/*        border: 1px solid purple;*/
    }
    .game_target_img img{
        width: 250px;
        padding-top: 200px;
    }

    .game_target_imgVariation{
        display: none;
        width: 100%;
        height: auto;
    }
    .game_target_imgVariation img{
        width: 250px;
        padding-top: 200px;
    }



        .game_target_animate img:hover {
            /* Start the shake animation and make the animation last for 0.5 seconds */
            animation: shake 0.4s; 
            /* When the animation is finished, start again */
        /*    animation-iteration-count: infinite; */
/*            transform: translateX(100%) rotate(180deg);*/
/*
            width: 1200px;
            margin-left: -1000px;
*/
        }

        
/*
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-2deg); }
            20% { transform: translate(-3px, 0px) rotate(2deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(2deg); }
            50% { transform: translate(-1px, 2px) rotate(-2deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-2deg); }
            80% { transform: translate(-1px, -1px) rotate(2deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-2deg); }
        }
*/
        

        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-3deg); }
            20% { transform: translate(-3px, 0px) rotate(-9eg); }
            30% { transform: translate(3px, 2px) rotate(-14deg); }
            40% { transform: translate(1px, -1px) rotate(-16deg); }
            50% { transform: translate(-1px, 2px) rotate(-20deg); }
            60% { transform: translate(-3px, 1px) rotate(-16deg); }
            70% { transform: translate(3px, 1px) rotate(-14deg); }
            80% { transform: translate(-1px, -1px) rotate(-9deg); }
            90% { transform: translate(1px, 2px) rotate(-3deg); }
            100% { transform: translate(1px, -2px) rotate(0deg); }
        }

        .animatedCursor{
            cursor: none !important;
        }

.shakyCursor{
    cursor: none !important;
}



.game_panel{
    margin: 0px auto;
    width: 50%; 
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.game_soundtrack{
         width: 20%;  
        height: 60px;  
    border: 1px solid red;
    box-sizing: border-box;
}
    .game_userinfo{
        width: 80%;  
        height: 60px;
        text-align: right;
        padding: 10px;
        padding-right: 60px;
        font-family: 'Yeon Sung', cursive;
        color: lightgray;
        border: 1px solid purple;
        box-sizing: border-box;
        
    }   
    .game_userinfo p{
        padding-right: 50px;
    }

    .game_stats{
        width: 100%;  
        height: 60px;
    }

    .game_itemscontainer{
        margin: 0px auto;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

        .game_item{
            width: 160px;  
            height: 240px;
/*
            border: 1px solid red;
            box-sizing: border-box;
*/
            
            font-family: 'Roboto Condensed', sans-serif;
        }

        .game_item_image{
            width: 100%;
            height: 120px;
        }

        .game_item_inactive{
            filter: blur(4px);
        }

        

.item1{
    cursor: url(img/item1.png) 2 2, pointer;
}

.item2{
    cursor: url(img/item2.png) 2 2, pointer;
}

.item3{
    cursor: url(img/item3.png) 2 2, pointer;
}

.item4{
    cursor: url(img/item4.png) 2 2, pointer;
}




.hide{
    display: none;
}

.show{
    display: block;
}