html{
/*    cursor: url(smiley.png) 2 2, pointer;*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.container{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.containerHalf{
    width: 50%;
    height: 100%; 
    border: 1px solid purple;
    box-sizing: border-box;
    background-color: bisque;
}

.welcome{
    width: 100%;
    background-color: white;
}

.nameFieldWrapper{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.nameField{
    width: 40%;
    text-align: right;
    padding: 20px;
}


.voleImg{
    width: 500px;
    height: 600px;
    border: 1px solid green;
}

.voleImg img{
    width: 300px;
}

.weaponListWrapper{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
}

.weaponItem{
    width: 160px;
    height: 160px;
    border: 2px solid gray;
    box-sizing: border-box;
/*    filter: blur(4px);*/

}

.weaponItemInactive{
    filter: blur(4px);
}

.axeCursor{
    cursor: url(img/axeCursor.png) 2 2, pointer !important;
}

.bowCursor{
    cursor: url(img/bowCursor.png) 2 2, pointer !important;
}

/*
.voleImg img:hover {
    animation: shake 0.4s; 
}
*/

.voleImgShake img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.4s; 
    /* When the animation is finished, start again */
/*    animation-iteration-count: infinite; */
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}