html{
/*    cursor: url('hammerrr.jpg'), 2 2, grab;*/
/*    cursor: wait;*/
    cursor: url(smiley.png) 2 2, pointer;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.container{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.containerHalf{
    width: 50%;
    height: 100%; 
    border: 1px solid purple;
    box-sizing: border-box;
    background-color: bisque;
}

.welcome{
    width: 100%;
    background-color: white;
}